<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AB Lizer</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
<div class="main-wrapper">
    <div class="sidenav" id="mySidenav">
        <div class="sidenav-container">
            <a class="logo" href="/"><img src="{{ url_for('static', filename='logo_ab-lizer.png') }}" height="50px"></a>
            <a href="/">
                <div class="tab">Dashboard</div>
            </a>
            <a href="#">
                <div class="tab">Analysis</div>
            </a>
            <a href="#">
                <div class="tab">Reporting</div>
            </a>
            <a href="/tests/{{ user.id }}">
                <div class="tab">Tests</div>
            </a>
            <a href="/settings/{{ user.id }}">
                <div class="tab">Settings</div>
            </a>
        </div>
    </div>

    <div class="wrapper">

        <nav>
            <div class="container">
                <p>{{ user.name }}</p>
                <p>{{ user.email }}</p>

            </div>
        </nav>
        <main class="container">
            {% block content %}{% endblock %}
        </main>

    </div>
</div>

</body>
</html>
