{% extends "base.html" %}
{% block content %}

    <div class="hero">
        <h1>All Tests</h1>
        <button class="btn" id="addTestBtn">Add AB Test</button>
    </div>
    <div class="scroll">
        <div class="col-wrapper">
            <div class="card-list">
                {% for test in data %}
                    <div class="card long">
                        <h2><strong>{{ test.name }}</strong></h2>
                        <p>{{ test.description }}</p>
                        <p><strong>Main Metric:</strong> {{ test.metric }}</p>
                        {% for variant in data[test] %}
                            <div class="card long secondary">
                                <div class="row">
                                    <h3>{{ variant.name }}</h3>
                                    <p><strong>Sessions:</strong> {{ variant.impressions }}</p>
                                    <p><strong>Conversions:</strong> {{ variant.conversions }}</p>
                                    <p><strong>Conversion Rate:</strong> {{ variant.conversion_rate }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <button class="btn">Edit</button>
                            <form action="{{ url_for('delete_test', user_id=user.id, test_id=test.id) }}"
                                  class="inline-form" method="post">
                                <button class="btn" onclick="return confirm('Delete this test?');" type="submit">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
